* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navigace {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.nazev-stranky {
    font-size: 1.5rem;
    margin: .5rem;
}

.navigace-link {
    height: 100%;
}

.navigace-link ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigace-link li {
    list-style: none;
}

.navigace-link li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navigace-link li:hover {
    background-color: #555;
}

.odkazove-tlacitko {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.odkazove-tlacitko .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .odkazove-tlacitko {
        display: flex;
    }

    .navigace-link {
        display: none;
        width: 100%;
    }

    .navigace {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigace-link ul {
        flex-direction: column;
        width: 100%;
    }

    .navigace-link li {
        text-align: center;
    }

    .navigace-link li a {
        padding: .5rem 1rem;
    }

    .navigace-link.active {
        display: flex;
    }
}


* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
    .hlavicka {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  

  .levysloupec {
    float: left;
    width: 50%;
  }
  
  .pravysloupec {
    float: right;
    width: 25%;
    padding-left: 20px;
  }
  
  .img {
    background-color: #aaa;
    width: 50%;
    padding: 20px;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 800px) {
    .levysloupec, .pravysloupec {
      width: 100%;
      padding: 0;
    }
  }